.card .card-header {
    padding: 2px 1px;
    display: flex;
    justify-content: space-between;
}

div.h5.card-title {
    margin: 0px;
    font-size: 12px;
}

span.badge-pill.badge {
    font-size: 8px;
}

.card .card-body {
    padding: 10px 0 10px 10px;
    font-size:10px;
}

span.badge-pill.badge {
    height: fit-content;
}

span.badge-pill.badge {
    height: fit-content;
}
