.App {
  background-color: #282c34;
  color:white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  display:block;
  text-align:center;
}

section.board {
  display: flex;
  justify-content: space-around;
}

article.column {
  border: 1px solid #fff;
  width: 33%;
  border-radius: 4px;
}

article.column h3 {
  text-align: center;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 20px 0;
}



